/* style.css */
body {
  font-family: Arial, sans-serif;
  background:rgb(87, 115, 180);
  margin: 0;
  padding: 40px;
}

.container {
  max-width: 500px;
  background: white;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.radio-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: normal;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color:rgb(91, 162, 136);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color:rgb(143, 198, 101);
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color:rgb(240, 240, 240);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
